<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="header">Country and its Capital city</h1>
    <div>
      <table id="countries">
        <thead>
          <tr>
            <th>Country</th>
            <th>Capital City</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ghana</td>
            <td>Accra</td>
          </tr>
          <tr>
            <td>Togo</td>
            <td>Lome</td>
          </tr>
          <tr>
            <td>Nigeria</td>
            <td>Abuja</td>
          </tr>
          <tr>
            <td>Burkina Faso</td>
            <td>Ouagadougou</td>
          </tr>
          <tr>
            <td>Niger</td>
            <td>Niamey</td>
          </tr>
          <tr>
            <td>Kenya</td>
            <td>Nairobi</td>
          </tr>
          <tr>
            <td>Angola</td>
            <td>Luanda</td>
          </tr>
          <tr>
            <td>Uganda</td>
            <td>Kampala</td>
          </tr>
          <tr>
            <td>Tanzania</td>
            <td>Dodoma</td>
          </tr>
          <tr>
            <td>Cameroon</td>
            <td>Yaoundé</td>
          </tr>
          <tr>
            <td>Zambia</td>
            <td>Lusaka</td>
          </tr>
          <tr>
            <td>Zimbabwe</td>
            <td>Harare</td>
          </tr>
          <tr>
            <td>Senegal</td>
            <td>Dakar</td>
          </tr>
          <tr>
            <td>Madagascar</td>
            <td>Antananarivo</td>
          </tr>
          <tr>
            <td>Sudan</td>
            <td>Khartoum</td>
          </tr>
          <tr>
            <td>Morocco</td>
            <td>Rabat</td>
          </tr>
          <tr>
            <td>Ethiopia</td>
            <td>Addis Ababa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
